
src/backend/obj/rider.project.restore.info
src/backend/obj/project.packagespec.json
src/backend/obj/project.nuget.cache
src/backend/obj/project.assets.json
src/backend/obj/Debug/net6.0/backend.GeneratedMSBuildEditorConfig.editorconfig
src/backend/obj/Debug/net6.0/backend.csproj.AssemblyReference.cache
src/backend/obj/Debug/net6.0/backend.assets.cache
src/backend/obj/backend.csproj.nuget.g.targets
src/backend/obj/backend.csproj.nuget.g.props
src/backend/obj/backend.csproj.nuget.dgspec.json
